body{
    background-color: rgb(216, 243, 242);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.grid {
    display:flex;
    flex-wrap: wrap;
    height: 420px;
    width: 420px;
    background-color: rgb(150, 200, 12);
    margin: auto;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}

.grid div{
    border: solid rgb(120, 128, 200) 2px;
    width: 100px;
    height: 100px;
    background-color: rgb(154, 154, 110154);
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-weight: bold;
    font-size: 52px;
    border-radius: 5px;
}

.scoreContainer {
    margin-top: 60px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.header {
    font-size: 60px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    color: #390;
}

.instructions{
    text-align: center;
    margin: auto;
}

#result{
    text-align: center;
    margin: auto;
}
